ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: red;
}

#buku {
  font-family: tw cen mt;
  border-collapse: collapse;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#buku td, #buku th {
  border: 1px solid #ddd;
  padding: 8px;
}

#buku tr:nth-child(even){background-color: #f2f2f2;}

#buku tr:hover {background-color: #ddd;}

thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #065499;
  color: white;
}

.hapus{
	background-color: red;
}
