.header{
	background: linear-gradient(to bottom right, #17EAD9, #6078ea);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	text-align: center;
	font-family : arial;
	font-size : 20px;
	color: white;
	text-shadow: 10px 10px 5px #065499;
	padding : 20px;
	-webkit-text-stroke: 1px #065499;
}

.judul{
	text-align: center;
	font-family : arial;
	font-size : 20px;
	color: black;
	text-shadow: 10px 10px 5px #cccccc;
	padding : 17px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: arial;
  font-size: 14px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

table{
	padding-bottom : 140px;
}
.active {
  background-color: red;
}

.active:hover{
	background-color: #cc0000;
}

#isi {
  font-family: arial;
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
}

#isi td, #isi th {
  border: 1px solid #ddd;
  padding: 8px;
}

#isi tr:nth-child(even){background-color: #f2f2f2;}

thead {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #065499;
  color: white;
  text-align: center;
  font-size: 16px;
}

.hapus{
	background-color: red;
	padding: 8px 10px;
	text-decoration: none;
	font-size : 12px;
	border : none;
	color: white;
	border-radius: 5px;
}

.hapus:hover {
	background-color: #cc0000;
}

.edit{
	background-color: #00cc99;
	padding: 8px 10px;
	text-decoration: none;
	font-size : 12px;
	border : none;
	color: white;
	border-radius: 5px;
}

.edit:hover {
	background-color: #009973;
}

input[type=text]{
	width : 500px;
	padding : 4px 2px 2px 2px;	
}

input[type=submit]{
	background-color: #00cc99;
	padding: 8px 8px;
	text-decoration: none;
	font-size : 12px;
	border : none;
	color: white;
	border-radius: 5px;
}

.pencarian{
	font-family : tw cen mt;
	font-size : 14pt;
	width : 100%;
	text-align : center;
	margin-top : 20px;
	margin-bottom : 20px;
}